<div class="hero-unit">
<h3>MAT</h3><!--FOP_MAT-->
<h3>COP Production</h3><!--FOP_PRD-->
<h3>BOP Equipment</h3><!--BOP_EQP-->
<h3>BOP Production</h3><!--BOP_PRD-->
<h3>TOP</h3><!--TOP-->
<h3>COP Equipment</h3><!--COP_EQP-->
<h3>COP Production</h3><!--COP_PRD-->
<h3>KGD Equipment</h3><!--KGD_EQP-->
<h3>KGD Production</h3><!--KGD_PRD-->
<h3>QA</h3><!--QA-->
</div>