<%%= simple_form_for(@<%= singular_table_name %>) do |f| %>
  <%%= f.error_notification %>

  <div class="form-inputs">
  <% attributes.each do |attribute| %>
    <% unless ['create_badge','create_shift_code','update_badge','update_shift_code'].include?(attribute.name) -%>
      <% if attribute.name == 'status_code' -%>
    <%%= f.input :status_code, :collection => ['N','OP','CS','CD','CT','RM','PM','CP'], :required => true %>
      <% elsif attribute.name == 'check_type' -%>
    <%%= f.input :check_type, :collection => ['CS','CD','RM','CT'] %>
      <% else -%>
    <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>
      <% end -%>
    <% end -%>
  <% end %>
  </div><!--end_form-->

  <div class="form-actions">
    <%%= f.button :submit, :class => 'btn-primary' %>
  </div>
<%% end %>
