<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">FOP<b class="caret"></b></a>
  <ul class="dropdown-menu">
<li><%= link_to 'Die Sorter Production Log', die_sorter_logs_path -%></li>
<li><%= link_to 'SMT Production Log', smt_logs_path -%></li>
<li><%= link_to 'Die Attach Production Log', die_attach_logs_path -%></li>
  </ul>
</li>
