<% if (current_user.present? and ['MAT',''].include? current_user.department ) or current_user.blank? -%>
<li class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown" href="#">FOP Mat<b class="caret"></b></a>
<ul class="dropdown-menu">
</ul><!--FOP_MAT-->
</li>
<% end %>
<% if (current_user.present? and ['FOP',''].include? current_user.department ) or current_user.blank? -%>
<li class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown" href="#">FOP Prd<b class="caret"></b></a>
<ul class="dropdown-menu">
</ul><!--FOP_PRD-->
</li>
<% end %>
<% if (current_user.present? and ['BOP',''].include? current_user.department ) or current_user.blank? -%>
<li class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown" href="#">BOP Eqp<b class="caret"></b></a>
<ul class="dropdown-menu">
</ul><!--BOP_EQP-->
</li>
<% end %>
<% if (current_user.present? and ['BOP',''].include? current_user.department ) or current_user.blank? -%>
<li class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown" href="#">BOP Prd<b class="caret"></b></a>
<ul class="dropdown-menu">
</ul><!--BOP_PRD-->
</li>
<% end %>
<% if (current_user.present? and ['TOP',''].include? current_user.department ) or current_user.blank? -%>
<li class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown" href="#">TOP Eqp<b class="caret"></b></a>
<ul class="dropdown-menu">
</ul><!--TOP_EQP-->
<% end %>
<% if (current_user.present? and ['TOP',''].include? current_user.department ) or current_user.blank? -%>
<li class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown" href="#">TOP Prd<b class="caret"></b></a>
<ul class="dropdown-menu">
</ul><!--TOP_PRD-->
<% end %>
<% if (current_user.present? and ['COP',''].include? current_user.department ) or current_user.blank? -%>
</li>
<li class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown" href="#">COP Eqp<b class="caret"></b></a>
<ul class="dropdown-menu">
</ul><!--COP_EQP-->
</li>
<% end %>
<% if (current_user.present? and ['COP',''].include? current_user.department ) or current_user.blank? -%>
<li class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown" href="#">COP Prd<b class="caret"></b></a>
<ul class="dropdown-menu">
</ul><!--COP_PRD-->
<% end %>
<% if (current_user.present? and ['KGD',''].include? current_user.department ) or current_user.blank? -%>
</li>
<li class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown" href="#">KGD Eqp<b class="caret"></b></a>
<ul class="dropdown-menu">
</ul><!--KGD_EQP-->
<% end %>
<% if (current_user.present? and ['KGD',''].include? current_user.department ) or current_user.blank? -%>
</li>
<li class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown" href="#">KGD Prd<b class="caret"></b></a>
<ul class="dropdown-menu">
</ul><!--KGD_PRD-->
<% end %>
<% if (current_user.present? and ['QA',''].include? current_user.department ) or current_user.blank? -%>
</li>
<li class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown" href="#">QA<b class="caret"></b></a>
<ul class="dropdown-menu">
</ul><!--QA-->
</li>
<% end %>
