<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">FOP<b class="caret"></b></a>
  <ul class="dropdown-menu">
	</ul><!--FOP-->
</li>
<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">BOP<b class="caret"></b></a>
  <ul class="dropdown-menu">
	</ul><!--BOP-->
</li>
<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">TOP<b class="caret"></b></a>
  <ul class="dropdown-menu">
	</ul><!--TOP-->
</li>
<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">COP<b class="caret"></b></a>
  <ul class="dropdown-menu">
	</ul><!--COP-->
</li>
<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">KGD<b class="caret"></b></a>
  <ul class="dropdown-menu">
	</ul><!--KGD-->
</li>
<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">QA<b class="caret"></b></a>
  <ul class="dropdown-menu">
	</ul><!--QA-->
</li>
